@use '../../theme/colors.scss';

.link {
  text-decoration: none;
}

.card {
  --background: var(--cards-background);
}

.card-title {
  text-align: center;
  color: colors.$texts;
}

.years-sections-title {
  text-align: center;
  color: white;
}
