.menu {
  position: fixed;
  left: -15vmin;
  top: -15vmin;
  width: 30vmin;
  height: 30vmin;
  background: #343a40;
  border-radius: 50%;
  box-shadow: 0 0 1rem #001020;
}

.menu-icon {
  position: absolute;
  width: 20%;
  bottom: 20%;
  right: 20%;
}

.menu-channels {
  position: absolute;
  bottom: 33%;
  right: 3%;
  color: white;
  text-decoration: none;
}

.menu-groups {
  position: absolute;
  bottom: 14%;
  right: 16%;
  color: white;
  text-decoration: none;
}

.menu-bots {
  position: absolute;
  bottom: 3%;
  right: 38%;
  color: white;
  text-decoration: none;
}

.pie {
  position: fixed;
  left: -26vmin;
  top: -26vmin;
  width: 52vmin;
  height: 52vmin;
  background: #343a50;
  border-radius: 50%;
  box-shadow: 0 0 1rem #001020;
  transform: translateX(-25vmin) translateY(-25vmin);
  transition: transform 500ms;
}

.pie1 {
  clip-path: polygon(50% 50%, 100% 50%, 100% 75%);
}

.pie2 {
  clip-path: polygon(50% 50%, 100% 75%, 75% 100%);
}

.pie3 {
  clip-path: polygon(50% 50%, 75% 100%, 0% 100%);
}

.active .pie {
  transform: translateX(0) translateY(0);
}
