@use '../theme/colors.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3vh;
  background-color: colors.$cards-background;

  .links {
    * {
      margin-right: 2rem;
      text-decoration: none;
      color: colors.$texts;
    }
  }

  label {
    color: colors.$texts;
  }

  input {
    background-color: colors.$cards-background;
    outline: none;
    color: colors.$texts;
  }
}
