html {
    background-color: #212529;
}

.loadingText {
    text-align: center;
    color: white;
}

ul {
    display: inline-block;
    justify-content: space-between;
    vertical-align: top;
    width: 25%;
    height: auto;
    padding: 25px;
    margin: 25px;
    background-color: #343a40;
}

ul:nth-child(1):hover {
    background-color: #555500;
}

ul:nth-child(2):hover {
    background-color: #6c757d;
}

ul:nth-child(3):hover {
    background-color: #3d2c1d;
}

ul:hover {
    background-color: #343a50;
}

.channelsLinks {
    display: inline-block;
    color: lightblue;
}

.description {
    color: white;
}

.subscribers {
    color: lightgreen;
}