body {
  background-color: #212529;
}

.routing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goToGroupsLink {
  position: absolute;
  right: 3rem;
  font-size: 1.5rem;
  color: lightblue;
}

.goToChannelsLink {
  position: absolute;
  right: 3rem;
  font-size: 1.5rem;
  color: lightblue;
}

.loadingText,
.rankingTitle {
  text-align: center;
  color: white;
}

.searchInput {
  display: block;
  margin: auto;
  padding: 0.5rem;
  border: 0.1rem solid lightgreen;
  color: white;
  background-color: #343a40;
}

.mainContent {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}

.cards {
  display: block;
  height: auto;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: -1rem 1rem 1rem #001020;
  background-color: #343a40;
  transition: 0.3s;
}

.cards:hover {
  background-color: #343a50;
  transform: translateY(-1rem);
}

.cards:nth-child(1):hover {
  background-color: #808000;
}

.cards:nth-child(2):hover {
  background-color: #808080;
}

.cards:nth-child(3):hover {
  background-color: #663300;
}

.actualCardsContents {
  margin: 0;
  padding: 0;
}

.imageAndRanking {
  display: flex;
  justify-content: space-between;
}
.images {
  width: 50%;
}

.rankings {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  color: lightgreen;
}

.links {
  color: lightblue;
}

.descriptions {
  color: white;
}

.subscribers {
  color: lightgreen;
}

.credits {
  text-align: end;
  color: white;
  padding: 1rem;
}

.credits a {
  text-decoration: none;
  color: yellow;
}

@media screen and (max-width: 1267px) {
  .mainContent {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .routing {
    display: block;
    margin: auto;
  }

  .goToGroupsLink {
    position: static;
    display: block;
    text-align: center;
    margin: 1rem;
  }

  .goToChannelsLink {
    position: static;
    display: block;
    text-align: center;
    margin: 1rem;
  }
}

@media screen and (max-width: 634px) {
  .mainContent {
    display: grid;
    grid-template-columns: 100%;
  }
}