$body-background: #212529;
$credits-links: #ffe600;
$cards-background: #151d25;
$cards-hover: #343a50;
$cards-shadow: #040615;
$first-place: #880;
$second-place: #888;
$third-place: #630;
$teams: #ff9800;
$teams-codes: #ffab40;