@use '../../theme/colors.scss';

.cards {
  display: block;
  height: auto;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: -1rem 1rem 1rem colors.$cards-shadow;
  background-color: colors.$cards-background;
  transition: 0.3s;
}

.cards:hover {
  background-color: colors.$cards-hover;
  transform: translateY(-1rem);
}

.cards:nth-child(1):hover {
  background-color: colors.$first-place;
}

.cards:nth-child(2):hover {
  background-color: colors.$second-place;
}

.cards:nth-child(3):hover {
  background-color: colors.$third-place;
}

.all-cards-contents {
  margin: 0;
  padding: 0;
}

.images-and-rankings {
  display: flex;
  justify-content: space-between;
}

.images {
  width: 50%;
}

.rankings {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: lightgreen;
}

.links {
  color: lightblue;
}

.descriptions {
  color: white;
}

.subscribers,
.members {
  color: lightgreen;
}

.codes {
  color: colors.$teams;
}

.code {
  color: colors.$teams-codes;
}
